<div class="entry">
<h2><a href="<%- entry.url %>"><%- entry.title %></a></h2>
<span id="entrycode" class="hidden"><%- entry.code %></span>
<span class="datetime">updated: <%- entry.mtime %></span>
<%- entry.body %>
</div>
<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/anyproblems/embed.js"></script><noscript><a href="http://disqus.com/forums/anyproblems/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
