<div class="entry">
<h2><a href="<%- entry.url %>"><%= entry.title %></a></h2>
<span id="entrycode" class="hidden"><%- entry.code %></span>
<span class="datetime">updated: <%- entry.mtime %></span>
<%- entry.body %>
</div>
<p><a href="<%- entry.url %>#disqus_thread">Add New Comment</a></p>